
.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 38px 32px;

  position: absolute;
  width: 438px;
  height: 494px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;

  border-radius: 20px;
}

.card-container {
  position: static;
  width: 374px;
  height: 418px;
  left: 32px;
  top: 38px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  /* margin: 0px 10px; */
}

.card-text {
  position: absolute;
  width: 374px;
  height: 72px;
  /* left: 32px; */
  top: 170px;
  
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  
  color: #000000;
}

.card-icon {
  /* Auto Layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 7px;

  position: absolute;
  width: 64px;
  height: 64px;
  /* left: 32px; */
  top: 50px;

  background: rgba(227, 227, 227, 0.6);
  border-radius: 10px;
}

.card-img {
  position: static;
  width: 50px;
  height: 40px;
  left: 7px;
  top: 12px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.card-title {
  position: absolute;
  width: 198px;
  height: 48px;
  left: 160px;
  /* top: 46px; */
  /* margin-top:20px; */

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */


  color: #000000;
}

.card-funds {
  position: absolute;
  width: 374px;
  height: 110px;
  /* left: 32px; */
  top: 300px;
}

.card-funds-amnt{
  position: absolute;
  width: 265px;
  height: 34px;
  /* left: 32px; */
  /* top: 278px; */
  margin-top:35px;

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  

  color: #000000;
}

.card-funds-header {
  position: absolute;
  width: 374px;
  height: 32px;
  /* left: 32px; */
  /* top: 238px; */
}

.card-funds-raised {
  position: absolute;
  width: 113px;
  height: 32px;
  /* left: 32px; */
  /* top: 238px; */
  margin:0;

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */


  color: #000000;
}

.card-funds-percent {
  /* position: absolute; */
  width: 105px;
  height: 21px;
  /* left: 301px; */
  /* top: 242px; */
  float: right;
  margin-top: 5px;
  
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  
  color: #000000;
}

.card-funds-bar {
  position: absolute;
  width: 374px;
  height: 20px;
  /* left: 32px; */
  /* top: 328px; */
  margin-top:80px;
}

.card-funds-progress {
  position: absolute;
  /* width: 196px; */
  height: 20px;
  /* left: 32px; */
  /* top: 328px; */

  /* Brand Gradient - 1 */

  background: linear-gradient(104.61deg, #FF00B8 2.65%, #FF655B 51.83%, #FFC700 100%);
  border-radius: 25.5px;
}

.card-funds-left {
  position: absolute;
  width: 374px;
  height: 20px;
  /* left: 32px; */
  /* top: 328px; */

  /* Gray 5 */

  background: #E0E0E0;
  border-radius: 25.5px;
}


.card-fund-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  position: absolute;
  width: 171px;
  height: 76px;
  /* left: calc(50% - 171px/2 - 101.5px); */
  top: 450px;

  /* Brand color - blue */

  background: #141471;
  border-radius: 4px;
}

.card-fund-text {
  position: static;
  width: 113px;
  height: 24px;
  left: 29px;
  top: 26px;

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}

.btn-placement {
  display:flex;
  justify-content: flex-end;
}

.card-learn-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  
  position: absolute;
  width: 171px;
  height: 76px;
  /* left: calc(50% - 171px/2 + 101.5px); */
  top: 450px;

  /* Brand color - blue */
  
  border: 2px solid #141471;
  border-radius: 4px;
}

.card-learn-text {
  position: static;
  width: 98px;
  height: 24px;
  left: 36.5px;
  top: 26px;

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  /* Brand color - blue */

  color: #141471;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}