.my-courses{
  position: absolute;
  width: 100%;
  height: 1500px;
  left: 0px;
  top: 100px;
  overflow-x: hidden;

  background: linear-gradient(90deg, #FF00B8 -0.69%, #FF655B 50.18%, #FFC700 100%);
}


.my-courses-sidebar {
  position: absolute;
  width: 25%;
  height: 100%;
  left: 0px;

  background: #151371;
  border: 1px solid rgba(129, 162, 178, 0.25);
  box-sizing: border-box;

  overflow-x: hidden;
  overflow-y: auto;
}

.my-courses-icon-container {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 30%;
  top: 100px;
}

.circle-border {
  width:100%;
}
.char-icon {
  position:absolute;
  width:85%;
  left:20px;
  top: 20px
}

.welcome-txt {
  position: absolute;
  width: 350px;
  height: 80px;
  left: 750px;
  top: 100px;

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 92.3%;
  /* or 89px */

  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.total-progress-txt {
  position: absolute;
  width: 348px;
  height: 44px;
  left: 750px;
  top: 190px;

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 92.3%;
  /* or 44px */

  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

.resume-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 64px;

  position: absolute;
  width: 249.33px;
  height: 60px;
  left: 850px;
  top: 325px;

  background: linear-gradient(0deg, #151371, #151371);
  border-radius: 20px;
  border:transparent;
}

.resume-txt {
  position: static;
  width: 138px;
  height: 48px;

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}

.my-courses-container {
  position: absolute;
  width: 75%;
  height: 1000px;
  left: 25%;
  top: 500px;

  background: #151371;
}
.my-courses-header {
  position: absolute;
  left: 75px;
  top: 40px;

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;

  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.active-tab {
  position: absolute;
  width: 180px;
  height: 5px;
  left: 75px;
  top: 100px;

  background: #FFC700;
}

.my-courses-sb-courses {
  position: absolute;
  width: 132px;
  height: 33px;
  left: 50px;
  top: 50px;

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 92.3%;
  /* or 33px */

  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.close-sb-btn {
  position: absolute;
  width: 15px;
  left: 20px;
  top: 55px;
  }

.sb-current-course {
  position: absolute;
  width: 405px;
  height: 44px;
  left: 50px;
  top: 100px;

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 92.3%;
  /* or 44px */

  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.sb-week-header {
  position: absolute;
  left: 50px;
  top: 200px;

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 92.3%;
  /* or 44px */

  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.sb-course-name {
  position: absolute;
  left: 100px;
  top: 255px;

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 92.3%;
  /* identical to box height, or 37px */

  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.circle-comp {
  position:absolute;
  height: 30px;
  width: 30px;
  top: 250px;
  left: 50px;
  background-color: #00AA4F;
  border-radius: 50%;
}

/* Source : https://stackoverflow.com/questions/21968531/how-to-draw-a-checkmark-tick-using-css */
.checkmark {
  position:absolute;
  display: inline-block;
  transform: rotate(45deg);
  height: 12.5px;
  width: 6px;
  left: 10px;
  top: 5px; 
  border-bottom: 3.5px solid #FFFFFF;
  border-right: 3.5px solid #FFFFFF;
}