
.startup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 282px;
  height: 296px;
  left: 200px;
  top: 904px;
}

.startup-head {
  position: static;
  width: 279px;
  height: 158px;
  left: 0px;
  top: 0px;

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 79px;

  color: #FFFFFF;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 18px 0px;
}

.startup-txt {
  position: static;
  width: 279px;
  height: 120px;
  left: 0px;
  top: 176px;
  
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  
  color: #FFFFFF;
  
  
  /* Inside Auto Layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 18px 0px;
}