/* Rectangle 616 */

.gradient {
  position: absolute;
  width: 2251px;
  height: 3525px;
  left: 0px;
  top: 175px;

  background: linear-gradient(104.61deg, #FF00B8 2.65%, #FF655B 51.83%, #FFC700 100%);
}